.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.navbar-custom {
  font-size: large;
}

.transparent-navbar {
  transition: background-color 0.3s ease;
}

/* Light mode styles */
.transparent-navbar.light-mode {
  background-color: rgba(255, 255, 255, 0.8); /* Light background */
  border: 2px solid red; /* Debugging border */
}

.transparent-navbar.light-mode .navbar__link {
  color: black !important; /* Force black text in light mode */
}

.transparent-navbar.dark-mode .navbar__link {
  color: white !important; /* Force white text in dark mode */
}

/* Dark mode styles */
.transparent-navbar.dark-mode {
  background-color: rgba(0, 0, 0, 0.5); /* Darker background */
}

.transparent-navbar.dark-mode .navbar__link {
  color: white; /* White text in dark mode */
}

.transparent-navbar.dark-mode .navbar__link:hover {
  color: lightgray; /* Adjust hover color for dark mode */
}

.navbar__link {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-indent: 0.3em;
  border-bottom: 3px solid transparent;
  position: relative;
}

.navbar__link::after {
  transition: all ease-in-out 0.2s;
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out 0.2s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}

.MainApp {
  margin-top: 8vh;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper,
.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 1.5em;
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 1.25em;
  margin-top: 10px;
}

section.timeline-card-content div.card-description > p {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}

/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar__link {
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .navbar__link::after {
    display: none;
  }

  .navbar__link--active::after,
  .navbar__link--active:hover::after,
  .navbar__link:hover::after {
    width: 0;
  }
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 500px;
  margin-top: 100px;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 75px;
  font-family: 'Baguette Script', cursive;
}